@layer default {
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  *, 
  *::before,
  *::after {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: var(--header-logo-text);
  }

  :root {
    --dark-background: #1F2937;
    --hero-main-text: #F9FAF8;
    --hero-secondary-text: #E5E7EB;
    --header-logo-text: #F9FAF8;
    --button-color: #3882F6;
    --button-color-hover: #285eb4;
    --information-text: #1F2937;
    --quote-background: #E5E7EB;
    --quote-text: #1F2937;
    --placeholder-image: #747474;
  }
}


@layer header {

  @media screen and (max-width: 768px) {
    header .header__wrapper {
      background-color: var(--dark-background);
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
    }

    header .desktop {
      display: none;
    }

    header div.mobile__only img {
      width: 36px;
      height: auto;
      margin-right: 10px;
      transition: 0.4s;
    }

    header .logo {
      margin-left: 20px;
      margin-right: auto;
    }

    header nav.mobile {
      width: 200px;
      min-height: 100vh;
      position: fixed;
      border-top-left-radius: 5px;
      top: 0;
      right: -200px;
      background-color: #767676e9;
      transition: 1s;
    }

    header nav.mobile.show__mobile {
      display: block;
      right: 0;
      transition: 1s;
    }

    header div.mobile__only.show__mobile img {
      opacity: 0;
      transition: 0.4s;
    } 

    header nav.mobile img {
      position: relative;
      right: -160px;
      top: 10px;
    }

    header nav.mobile ul li {
      margin: 10px 0 0 20px;
    }

  }

  @media screen and (min-width: 769px) {

    header div.mobile__only,
    header .mobile {
      display: none;
    }

    header .header__wrapper {
      display: flex;
      background-color: var(--dark-background);
      padding: 20px 15vw;
      align-items: center;
    }

    header .header__wrapper, 
    header .header__wrapper a {
      color: var(--header-logo-text);
      text-decoration: none;
    }

    header .header__wrapper .logo {
      margin-right: auto;
      font-size: 24px;
    }

    header .header__wrapper nav.desktop ul {
      display: flex;
      gap: 16px;
    }

    header .header__wrapper nav.desktop ul li a:hover {
      color: var(--button-color);
    }
  }
}

@layer first__section {

  @media screen and (max-width: 768px) {
    section.first__section {
      padding: 20px 0 20px 0;
      background-color: var(--dark-background);
    }

    section .content__left h1 {
      margin: 0 auto;
      width: 80%;
      text-align: center;
      color: var(--hero-main-text);
      font-size: 32px;
      font-weight: bold;
    }

    section .content__left p {
      width: 80%;
      margin: 10px auto;
      color: var(--hero-secondary-text);
    }

    section .content__left .sign__up {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--button-color);
      padding: 9px 20px;
      border-radius: 5px;
      border: 0;
      color: var(--header-logo-text);
      margin-bottom: 10px;
      
    }

    section .content__right .image__container {
      margin: 0 auto;
      height: 150px;
      width: 250px;
      background-color: var(--placeholder-image);
      color: var(--header-logo-text);
      text-align: center;
      line-height: 150px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    section .content__left .sign__up:active {
      background-color: var(--button-color-hover);
      scale: 1.1;
      transition: all .1s ease-in-out;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 769px) {

    section.first__section {
      padding: 70px 0;
      background-color: var(--dark-background);
      display: flex;
      gap: 5%;
    }

    section .content__left,
    section .content__right {
      flex: 1;
    }

    section .content__left {
      padding-left: 15vw;
    }

    section .content__left h1 {
      color: var(--hero-main-text);
      font-weight: bold;
      font-size: 48px;
    }

    section .content__left p {
      font-size: 18px;
      color: var(--hero-secondary-text);
    }

    section .content__left .sign__up {
      background-color: var(--button-color);
      padding: 4px 13px;
      border-radius: 5px;
      border: 0;
      color: var(--header-logo-text);
      margin: 5px 0 0 0;
    }

    section .content__left .sign__up:hover {
      background-color: var(--button-color-hover);
      transform: scale(1.1);
      transition: all .1s ease-in-out;
      cursor: pointer;
    }

    section .content__right {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 15vw;
    }

    section .content__right .image__container {
      height: 150px;
      width: 350px;
      background-color: var(--placeholder-image);
      color: var(--header-logo-text);
      text-align: center;
      line-height: 150px;
    }
  }
}

@layer second__section {
  @media screen and (max-width: 768px) {
    section.second__section h2 {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding: 20px 0;
    }

    section.second__section .card__wrapper {
      padding: 5% 15vw 0;
      display: flex;
      flex-direction: column;
      width: 80%;
      gap: 50px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      padding-bottom: 80px;
    }

    section.second__section .card__wrapper .card {
      display: none;
    }

    section.second__section .card__wrapper .card .image__container {
      height: 200px;
      width: 200px;
      margin: 0 auto;
      border: 2px solid var(--button-color);
      border-radius: 10px;
    }

    section.second__section .card__wrapper .card .text__content {
      max-width: 165px;
      font-size: 16px;
      text-align: center;
      margin: 0 auto;
      color: var(--placeholder-image);
      padding-top: 5px;
    }

    section.second__section .card__wrapper .card:nth-child(-n + 2) {
      display: block;
    }
  }
  @media screen and (min-width: 769px) {
    section.second__section h2 {
      padding-top: 25px;
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      color: var(--information-text);
    }

    section.second__section .card__wrapper {
      padding: 5% 15vw 0;
      display: flex;
      gap: 50px;
      justify-content: space-between;
      padding-bottom: 80px;
    }

    section.second__section .card__wrapper .card .image__container {
      height: 125px;
      width: 125px;
      border: 2px solid var(--button-color);
      border-radius: 10px;
    }

    section.second__section .card__wrapper .card .text__content {
      max-width: 125px;
      font-size: 13px;
      text-align: center;
      color: var(--placeholder-image);
      padding-top: 5px;
    }
  }
}

@layer third__section {
  @media screen and (max-width: 768px) {
    section.third__section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10% 15vw;
      background-color: var(--quote-background);
      font-size: 18px;
      font-style: italic;
      color: var(--quote-text);
    }

    section.third__section .text__copyright {
      font-size: 14px;
      font-weight: bold;
      align-self: flex-end;
      margin-top: 5px;
    }
  }

  @media screen and (min-width: 769px) {
    section.third__section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10% 15vw;
      background-color: var(--quote-background);
      font-size: 36px;
      font-style: italic;
      color: var(--quote-text);
    }

    section.third__section .text__copyright {
      font-size: 18px;
      font-weight: bold;
      align-self: flex-end;
    }
  }
}

@layer four__section {
  @media screen and (max-width: 768px) {
    section.four__section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8% 15vw;
    }

    section.four__section .call__wrapper {
      background-color: var(--button-color);
      padding: 35px 20px;
      border-radius: 10px;
      color: var(--header-logo-text);
      display: flex;
      flex-direction: column;
    }

    section.four__section .call__wrapper .text__content h1 {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      padding-bottom: 5px;
    }
    
    section.four__section .call__wrapper .text__content p {
      font-size: 14px;
      color: var(--quote-background);
      padding-bottom: 5px;
    }

    section.four__section .call__wrapper .sign__up {
      flex: 1;
      align-self: center;
      margin: 0 auto;
      background-color: transparent;
      border: 1px solid var(--header-logo-text);
      border-radius: 5px;
      padding: 5px 30px;
      color: var(--header-logo-text);
    }

    section.four__section .call__wrapper .sign__up:active {
      background-color: var(--header-logo-text);
      color: var(--dark-background);
      border: 1px solid var(--dark-background);
      transform: scale(1.1);
      transition: all 0.1s ease-in-out;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 769px) {

    section.four__section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8% 15vw;
    }

    section.four__section .call__wrapper {
      background-color: var(--button-color);
      padding: 35px 50px;
      border-radius: 10px;
      color: var(--header-logo-text);
      display: flex;
    }

    section.four__section .call__wrapper .text__content {
      flex: 5;
    }

    section.four__section .call__wrapper .text__content h1 {
      font-weight: bold;
      font-size: 18px;
    }
    
    section.four__section .call__wrapper .text__content p {
      font-size: 14px;
      color: var(--quote-background);
    }

    section.four__section .call__wrapper .sign__up {
      flex: 1;
      align-self: center;
      margin-left: 10px;
      background-color: transparent;
      border: 1px solid var(--header-logo-text);
      border-radius: 5px;
      padding: 5px;
      color: var(--header-logo-text);
    }

    section.four__section .call__wrapper .sign__up:hover {
      background-color: var(--header-logo-text);
      color: var(--dark-background);
      border: 1px solid var(--dark-background);
      transform: scale(1.1);
      transition: all 0.1s ease-in-out;
      cursor: pointer;
    }
  }
}

@layer footer {
  @media screen and (min-width: 769px) {

    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px 0;
      background-color: var(--dark-background);
      color: var(--header-logo-text);
    }
  }
}