@layer default {
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  *, 
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    --dark-background: #1F2937;
    --hero-main-text: #F9FAF8;
    --hero-secondary-text: #E5E7EB;
    --header-logo-text: #F9FAF8;
    --button-color: #3882F6;
    --button-color-hover: #285eb4;
    --information-text: #1F2937;
    --quote-background: #E5E7EB;
    --quote-text: #1F2937;
    --placeholder-image: #747474;
  }
}


@layer header {
  header {
    display: flex;
    background-color: var(--dark-background);
    padding: 20px 10%;
    align-items: center;
  }

  header, 
  header a {
    color: var(--header-logo-text);
    text-decoration: none;
  }

  header .logo {
    margin-right: auto;
    font-size: 24px;
  }

  header nav ul {
    display: flex;
    gap: 16px;
  }

  header nav ul li a:hover {
    color: var(--button-color);
  }
}

@layer first__section {
  section.first__section {
    padding: 70px 0;
    background-color: var(--dark-background);
    display: flex;
    gap: 5%;
  }

  section .content__left,
  section .content__right {
    flex: 1;
  }

  section .content__left {
    padding-left: 10%;
  }

  section .content__left h1 {
    color: var(--hero-main-text);
    font-weight: bold;
    font-size: 48px;
  }

  section .content__left p {
    font-size: 18px;
    color: var(--hero-secondary-text);
  }

  section .content__left .sign__up {
    background-color: var(--button-color);
    padding: 4px 13px;
    border-radius: 5px;
    border: 0;
    color: var(--header-logo-text);
    margin: 5px 0 0 0;
  }

  section .content__left .sign__up:hover {
    background-color: var(--button-color-hover);
    transform: scale(1.1);
    transition: all .1s ease-in-out;
  }

  section .content__right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
  }

  section .content__right .image__container {
    height: 150px;
    width: 350px;
    background-color: var(--placeholder-image);
    color: var(--header-logo-text);
    text-align: center;
    line-height: 150px;
  }
}

@layer second__section {
  section.second__section h2 {
    padding-top: 25px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: var(--information-text);
  }

  section.second__section .card__wrapper {
    padding: 5% 10% 0 10%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
  }

  section.second__section .card__wrapper .card .image__container {
    height: 125px;
    width: 125px;
    border: 2px solid var(--button-color);
    border-radius: 10px;
  }

  section.second__section .card__wrapper .card .text__content {
    max-width: 125px;
    font-size: 13px;
    text-align: center;
    color: var(--placeholder-image);
    padding-top: 5px;
  }
}

@layer third__section {
  section.third__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10% 15%;
    background-color: var(--quote-background);
    font-size: 36px;
    font-style: italic;
    color: var(--quote-text);
  }

  section.third__section .text__copyright {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
  }

}