@layer first__section {

  @media screen and (max-width: 768px) {
    section.first__section {
      padding: 20px 0 20px 0;
      background-color: var(--dark-background);
    }

    section .content__left h1 {
      margin: 0 auto;
      width: 80%;
      text-align: center;
      color: var(--hero-main-text);
      font-size: 32px;
      font-weight: bold;
    }

    section .content__left p {
      width: 80%;
      margin: 10px auto;
      color: var(--hero-secondary-text);
    }

    section .content__left .sign__up {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--button-color);
      padding: 9px 20px;
      border-radius: 5px;
      border: 0;
      color: var(--sign-up-text);
      margin-bottom: 10px;
      
    }

    section .content__right .image__container {
      margin: 0 auto;
      height: 150px;
      width: 250px;
      background-color: var(--placeholder-image);
      color: var(--white);
      text-align: center;
      line-height: 150px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    section .content__left .sign__up:active {
      background-color: var(--button-color-hover);
      scale: 1.1;
      transition: all .1s ease-in-out;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 769px) {

    section.first__section {
      padding: 70px 0;
      background-color: var(--dark-background);
      display: flex;
      gap: 5%;
    }

    section .content__left,
    section .content__right {
      flex: 1;
    }

    section .content__left {
      padding-left: 15vw;
    }

    section .content__left h1 {
      color: var(--hero-main-text);
      font-weight: bold;
      font-size: 48px;
    }

    section .content__left p {
      font-size: 18px;
      color: var(--hero-secondary-text);
    }

    section .content__left .sign__up {
      background-color: var(--button-color);
      padding: 4px 13px;
      border-radius: 5px;
      border: 0;
      color: var(--sign-up-text);
      margin: 5px 0 0 0;
    }

    section .content__left .sign__up:hover {
      background-color: var(--button-color-hover);
      transform: scale(1.1);
      transition: all .1s ease-in-out;
      cursor: pointer;
    }

    section .content__right {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 15vw;
    }

    section .content__right .image__container {
      height: 150px;
      width: 350px;
      background-color: var(--placeholder-image);
      color: var(--white);
      text-align: center;
      line-height: 150px;
    }
  }
}

@layer second__section {
  @media screen and (max-width: 768px) {
    section.second__section h2 {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding: 20px 0;
    }

    section.second__section .card__wrapper {
      padding: 5% 15vw 0;
      display: flex;
      flex-direction: column;
      width: 80%;
      gap: 50px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      padding-bottom: 80px;
    }

    section.second__section .card__wrapper .card {
      display: none;
    }

    section.second__section .card__wrapper .card .image__container {
      height: 200px;
      width: 200px;
      margin: 0 auto;
      border: 2px solid var(--button-color);
      border-radius: 10px;
    }

    section.second__section .card__wrapper .card .text__content {
      max-width: 165px;
      font-size: 16px;
      text-align: center;
      margin: 0 auto;
      color: var(--placeholder-image);
      padding-top: 5px;
    }

    section.second__section .card__wrapper .card:nth-child(-n + 2) {
      display: block;
    }
  }
  @media screen and (min-width: 769px) {
    section.second__section h2 {
      padding-top: 25px;
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      color: var(--information-text);
    }

    section.second__section .card__wrapper {
      padding: 5% 15vw 0;
      display: flex;
      gap: 50px;
      justify-content: space-between;
      padding-bottom: 80px;
    }

    section.second__section .card__wrapper .card .image__container {
      height: 125px;
      width: 125px;
      border: 2px solid var(--button-color);
      border-radius: 10px;
    }

    section.second__section .card__wrapper .card .text__content {
      max-width: 125px;
      font-size: 13px;
      text-align: center;
      color: var(--placeholder-image);
      padding-top: 5px;
    }
  }
}

@layer third__section {
  @media screen and (max-width: 768px) {
    section.third__section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10% 15vw;
      background-color: var(--quote-background);
      font-size: 18px;
      font-style: italic;
      color: var(--quote-text);
    }

    section.third__section .text__copyright {
      font-size: 14px;
      font-weight: bold;
      align-self: flex-end;
      margin-top: 5px;
    }
  }

  @media screen and (min-width: 769px) {
    section.third__section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10% 15vw;
      background-color: var(--quote-background);
      font-size: 36px;
      font-style: italic;
      color: var(--quote-text);
    }

    section.third__section .text__copyright {
      font-size: 18px;
      font-weight: bold;
      align-self: flex-end;
    }
  }
}

@layer four__section {
  @media screen and (max-width: 768px) {
    section.four__section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8% 15vw;
    }

    section.four__section .call__wrapper {
      background-color: var(--button-color);
      padding: 35px 20px;
      border-radius: 10px;
      color: var(--call-to-action-text);
      display: flex;
      flex-direction: column;
    }

    section.four__section .call__wrapper .text__content h1 {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      padding-bottom: 5px;
    }
    
    section.four__section .call__wrapper .text__content p {
      font-size: 14px;
      color: var(--call-to-action-text);
      padding-bottom: 5px;
    }

    section.four__section .call__wrapper .sign__up {
      flex: 1;
      align-self: center;
      margin: 0 auto;
      background-color: transparent;
      border: 1px solid var(--header-logo-text);
      border-radius: 5px;
      padding: 5px 30px;
      color: var(--call-to-action-text);
    }

    section.four__section .call__wrapper .sign__up:active {
      background-color: var(--header-logo-text);
      color: var(--dark-background);
      border: 1px solid var(--dark-background);
      transform: scale(1.1);
      transition: all 0.1s ease-in-out;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 769px) {

    section.four__section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8% 15vw;
    }

    section.four__section .call__wrapper {
      background-color: var(--button-color);
      padding: 35px 50px;
      border-radius: 10px;
      color: var(--call-to-action-text);
      display: flex;
    }

    section.four__section .call__wrapper .text__content {
      flex: 5;
    }

    section.four__section .call__wrapper .text__content h4 {
      font-weight: bold;
      font-size: 18px;
    }
    
    section.four__section .call__wrapper .text__content p {
      font-size: 14px;
      color: var(--call-to-action-text);
    }

    section.four__section .call__wrapper .sign__up {
      flex: 1;
      align-self: center;
      margin-left: 10px;
      background-color: transparent;
      border: 1px solid var(--header-logo-text);
      border-radius: 5px;
      padding: 5px;
      color: var(--call-to-action-text);
    }

    section.four__section .call__wrapper .sign__up:hover {
      background-color: var(--header-logo-text);
      color: var(--call-to-action-text);
      border: 1px solid var(--dark-background);
      transform: scale(1.1);
      transition: all 0.1s ease-in-out;
      cursor: pointer;
    }
  }
}